@import play.api.mvc.RequestHeader 

@(id: String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
<head>
  <title>ZX labyrinth</title>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
  <script type='text/javascript' src='@routes.Assets.at("javascripts/js.js")'></script>
  <script type='text/javascript' src='@routes.Assets.at("javascripts/zx.js")'></script>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/css.css")" media="screen" />
</head>
<body data-ws-url="@routes.ZxController.gameWs(id).webSocketURL()" data-page-id="game">
	<div class="container ">
		<div id="messages"></div>
		<input type="text" id="name_input"/><button type="button" id="sit_button">Usiądź</button>
		<div>Stan gry: <span id="state_msg">Unknown</span></div>
	</div>
	<div id="containerA" class="boardContainer">
		<div id="playerA" class="playerName">???</div>
		<div id="boardA" class="boardArea"></div>
	</div>
	<div id="containerB" class="boardContainer">
		<div id="playerB" class="playerName">???</div>
		<div id="boardB" class="boardArea"></div>
	</div>
</body>
</html>
