@(id: String)(implicit userName: Option[String], request: play.api.mvc.RequestHeader)

@layout {
  <div id="labyrinthGame" data-ws-url="@routes.Application.gameWs(id).webSocketURL()">
    <div>
        <div id="gameState"></div>
        <div>
            <div id="move_up" class="moveButton">{{i18n['up']}}</div>
            <div id="move_down" class="moveButton">{{i18n['down']}}</div>
            <div id="move_left" class="moveButton">{{i18n['left']}}</div>
            <div id="move_right" class="moveButton">{{i18n['right']}}</div>
            <div class="moveComment">({{i18n['moveComment']}})</div>
        </div>
    </div>
    <div id="containerA" class="boardContainer">
        <div id="playerA" class="playerName">???</div>
        <div id="boardA" class="boardArea"></div>
    </div>
    <div id="containerB" class="boardContainer">
        <div id="playerB" class="playerName">???</div>
        <div id="boardB" class="boardArea"></div>
    </div>
    <div id="chatBox">
        <div id="gameParams"></div>
        <div id="chatHistory">
            <div id="chatHistoryInner"></div>
        </div>
        <input type="text" id="chatInput"/>
        <div id="playAgainButton">{{i18n['playAgainButton']}}</div>
        <div id="joinButton">{{i18n['joinButton']}}</div>
    </div>
  </div>
}
