@(implicit userName: Option[String])

@layout{
    <div ng-controller="UsersController">
      <h3>{{i18n['listUsers.header']}}:</h3>
      <table class="table">
        <thead>
         <tr>
          <th><a href="" ng-click="order('name')">{{i18n['listUsers.name']}}</a></th>
          <th><a href="" ng-click="order('lastSeen')">{{i18n['listUsers.lastSeen']}}</a></th>
          <th><a href="" ng-click="order('registered')">{{i18n['listUsers.registered']}}</a></th>
          <th><a href="" ng-click="order('allGames')">{{i18n['listUsers.allGames']}}</a></th>
          <th><a href="" ng-click="order('finishedGames')">{{i18n['listUsers.finishedGames']}}</a></th>
          <th><a href="" ng-click="order('rating')">{{i18n['listUsers.rating']}}</a></th>
         </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users | orderBy:predicate:reverse">
            <td><a href="@{routes.Application.getUser("")}{{user.name}}">{{user.name}}</a></td>
            <td>{{user.lastSeen}}</td>
            <td>{{user.registered}}</td>
            <td>{{user.allGames}}</td>
            <td>{{user.finishedGames}}</td>
            <td>{{user.rating}}</td>
          </tr>
        </tbody>
      </table>
    </div>
}