@(implicit userName: Option[String])

@layout{
    <div ng-controller="UsersController">
      <h3>Lista użytkowników:</h3>
      <table class="table">
        <thead>
         <tr>
          <th><a href="" ng-click="order('name')">Nazwa</a></th>
          <th><a href="" ng-click="order('lastSeen')">Ostatnio widziany</a></th>
          <th><a href="" ng-click="order('registered')">Rejestracja</a></th>
         </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users | orderBy:predicate:reverse">
            <td><a href="@{routes.ZxController.getUser("")}{{user.name}}">{{user.name}}</a></td>
            <td>{{user.lastSeen}}</td>
            <td>{{user.registered}}</td>
          </tr>
        </tbody>
      </table>
    </div>
}