@(implicit userName: Option[String])

@layout{
    <form method="post" action="@routes.ZxController.register()">
        <table class="table">
            <tr><td><input type="text" name="login_name" placeholder="Login"></input></td></tr>
            <tr><td><input type="password" name="password1" placeholder="Password"></input></td></tr>
            <tr><td><input type="password" name="password2" placeholder="Password"></input></td></tr>
            <tr><td><input class="button" type="submit" value="Register!"></input></td></tr>
        </table>
    </form>
}