@(userStats: UserData)(implicit userName: Option[String])

@layout{
  <div>
    <h3>@userStats.name</h3>
    <table class="table">
      <tr><td>Wszystkich gier:</td><td>@userStats.total.allGames</td></tr>
      <tr><td>Ostatnia gra:</td><td>@userStats.total.lastGame.map(util.DateTimeUtil.formatDate(_))</td></tr>
      <tr><td>Wygranych:</td><td>@userStats.total.wonGames</td></tr>
      <tr><td>Przegranych:</td><td>@userStats.total.lostGames</td></tr>
      <tr><td>Trwających:</td><td>@userStats.total.ongoingGames</td></tr>
    </table>
    <h4>Przeciwnicy</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Gier</th>
          <th>Ostatnia</th>
          <th>Wygranych</th>
          <th>Przegranych</th>
          <th>Trwających</th>
        </tr>
      </thead>
      <tbody>
        @for(opponent <- userStats.opponents) {
          <tr>
            <td><a href="@{routes.ZxController.getUser(opponent.name)}">@opponent.name</a></td>
            <td>@opponent.allGames</td>
            <td>@opponent.lastGame.map(util.DateTimeUtil.formatDate(_))</td>
            <td>@opponent.wonGames</td>
            <td>@opponent.lostGames</td>
            <td>@opponent.ongoingGames</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}